{% extends "header.html" %}

{% block linksHeader %}
<title>Panel de Control</title>
<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="{{url_for('static', filename='css/panel_admin.css')}}">
{% endblock %}

{% block bodyBlock %}
<section class="window">
    <div class="directory" id="directory"></div>
    <div class="bartools">
      <div class="mb-3">
        <label for="nameProgram" class="form-label">Nombre del Programa</label>
        <input type="text" class="form-control" id="nameProgram" disabled readonly>
      </div>
      <div class="mb-3 row">
        <label for="dateModify" class="col-sm-4 col-form-label">Fecha de modificación</label>
        <div class="col-sm-6">
          <label class="form-control-plaintext" id="dateModify"></label>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="createDate" class="col-sm-4 col-form-label">Fecha de Creación</label>
        <div class="col-sm-6">
          <label class="form-control-plaintext" id="createDate"></label>
        </div>
      </div>
      <div class="btnOptions">
        <button type="button" id="btnDelete" class="btn btn-danger" disabled>Eliminar</button>
        <button type="button" id="btnMove" class="btn btn-primary" disabled>Mover <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="currentColor" d="M21,9L17,5V8H10V10H17V13M7,11L3,15L7,19V16H14V14H7V11Z" />
      </svg></button>
      </div>
    </div>
</section>
<div class="modal fade" id="modalShowContentFile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitle">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="contentFile">
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
<button id="btnModal" style="display: none;" type="button" data-bs-toggle="modal" data-bs-target="#modalShowContentFile"></button>
{% endblock %}

{% block Scripts %}
<script src="{{url_for('static', filename='js/panel_admin.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock %}